@import "../../variables";
.s-button {
    &--primary {
        font-family: $inter;
        border: 1.5px solid $primary-blue;
        color: $white;
        background-color: $primary-blue;
        outline: none;

        // background-color: #d6ecff;
        // color: $primary-blue;
    }

    &--secondary {
        font-family: $inter;
        border: 2px solid $primary-blue;
        color: $primary_blue;
        background-color: $white;
        outline: none;
    }

    &--tertiary {
        font-family: $inter;
        color: $primary-black;
        background-color: $white;
        border: 1px solid $primary-black;

        &:hover {
            border: 1px solid $primary-blue;
            color: $primary-blue;
        }
    }

    &--white {
        font-family: $inter;
        color: $primary-black;
        background: $white;
        border: 1px solid $border-light-gray;
    }

    &--tag {
        border: none;
        background-color: $white;
        border: 1px solid $border-light-gray;
        color: rgb(91, 91, 91);
        // color: $primary-black;
        border-radius: $radius-round;

        &:hover {
            background-color: $bg-light-blue;
        }
    }

    &--alert-success {
        border: 1px solid $border-light-gray;
        // background-color: #d2e7ff;
        background-color: $white;
        padding: 8px 20px;
    }

    &--sm2 {
        padding: 8px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    &--md {
        // padding: 10px 20px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 8px;
    }
    &--lg {
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 8px;
    }

    &__text--sm {
        font-size: $font-size-sm;
        font-weight: $font-weight-default;
    }

    &__text--sm2 {
        font-size: $font-size-sm2;
        font-weight: $font-weight-default;
    }

    &__text--md {
        font-size: $font-size-md;
    }

    &__text--lg {
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
    }

    &--disabled {
        opacity: 0.4;
        cursor: auto;
    }

    &--round {
        border-radius: $radius-round;
    }

    &--button {
        border-radius: $radius-button;
    }

    &--cube {
        border-radius: $radius-alert;
    }

    &--card {
        border-radius: $radius-home-cards;
    }

    &__icon--md {
        max-height: 14px;
        object-fit: contain;
    }

    &--positive {
        max-width: 112px;
        padding: 6px 12px 7px 12px;
        color: $primary-blue;
        background-color: $ribbon-blue;
        border: none;
        border-radius: $radius-alert;
    }

    &--positive:hover {
        background-color: white;
        cursor: pointer;
    }

    &--negative {
        max-width: 112px;
        padding: 6px 12px 7px 12px;
        color: $red-negative;
        background-color: $ribbon-red;
        border: none;
        border-radius: $radius-alert;
    }

    &--negative:hover {
        background-color: white;
        cursor: pointer;
    }

    &--neutral {
        // background: $light-gray;
        max-width: 112px;
        padding: 6px 12px 7px 12px;
        color: $primary-black;
        background-color: $ribbon-black;
        border: none;
        border-radius: $radius-alert;
    }

    &--neutral:hover {
        background-color: white;
        cursor: pointer;
    }

    &--info {
        max-width: 112px;
        padding: 6px 12px 7px 12px;
        color: $primary-yellow;
        background-color: $ribbon-yellow;
        border: none;
        border-radius: $radius-alert;
    }

    &--info:hover {
        background-color: white;
        cursor: pointer;
    }

    &--icon-left {
        flex-direction: row-reverse;
    }

    &--basic {
        border: 1px solid $border-light-gray;
        border-radius: $radius-alert;
        padding: 8px 20px 8px 20px;
        background-color: $white;
    }
}
